@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0b0b0d;
  --fg: #f7f7f7;
}

html, body, #__next {
  height: 100%;
}

body {
  background: var(--bg);
  color: var(--fg);
}

.container {
  @apply mx-auto max-w-5xl px-4;
}
